/* INDEX */
.post-index-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: rgb(245, 244, 240);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    width: 500px;
    border: 1px solid #dadada;
}

.post-index-container .post-header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    border: 1px solid #d3d3d3;
}

.post-index-container .post-header .post-user-name {
    padding-right: 15px;
    font-weight: 600;
    color: rgb(19, 18, 18);
}

.post-index-container .post-header .post-created-at {
    font-weight: 600;
    color: rgb(116, 116, 116);
}

.post-index-container .post-body {
    padding: 10px;
    border-bottom: 1px solid #d3d3d3;
}

.post-index-container .post-body .post-title {
    font-size: 20px;
    font-weight: 600;
    color: rgb(43, 40, 40);
}

.post-index-container .post-footer {
    padding: 20px;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    align-items: center;
    justify-content: center;
}

.post-index-container .post-footer .post-likes {
    padding-right: 20px;
    font-weight: 600;
    color: #03750d;
}

.post-index-container .post-footer .post-dislikes {
    padding-left: 20px;
    font-weight: 600;
    color: #db0b0b;
}

.post-control-btns{
    display: flex;
    flex-direction: row;
}
    
/* CREATE */
.post-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 15px;
    background-color: rgb(245, 244, 240);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    width: 500px;
    border: 1px solid #d3d3d3;
}

.post-container textarea {
    margin-top: 5px;
    width: 95%;
    border: none;
    background-color: white;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #a8a5a5;
    border-radius: 5px;
}

.post-container textarea:focus {
    outline: none !important;
    border: 1px solid #7bd664;
}
